---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";

interface Props {
  slug: string;
  data: CollectionEntry<"projects">["data"];
}

const { data, slug } = Astro.props;
const { title, description, technologies, repo, demo } = data;
---

<a
  href={`/projects/${slug}`}
  class="flex flex-col gap-1 px-6 py-4 border border-default rounded group transition hover:-translate-y-2 hover:border-default-100"
>
  <header class="flex items-center justify-between">
    <h3 class="text-base text-default-100">
      {title}
    </h3>

    <div class="flex items-center gap-2">
      {
        repo && (
          <span class="py-0.5 px-3 bg-transparent text-xs text-default font-medium border border-default rounded-full transition group-hover:border-default-100 group-hover:text-default-100">
            Repo
          </span>
        )
      }
      {
        demo && (
          <span class="py-0.5 px-3 bg-default text-xs text-background font-medium rounded-full border border-default transition group-hover:bg-default-100 group-hover:border-default-100">
            Demo
          </span>
        )
      }
      <Icon
        name="arrow-up-right"
        class={"transition group-hover:translate-x-1 group-hover:text-default-100"}
      />
    </div>
  </header>
  <main class="">
    <p class="truncate">{description}</p>
  </main>
  <footer class="flex flex-col mt-3">
    <h5>Technologies used</h5>
    <ul class="flex flex-wrap">
      {
        technologies.map((technology, index) => (
          <li>
            <span class="transition group-hover:text-primary">
              {technology}
            </span>
            {index !== technologies.length - 1 && (
              <span class="font-bold mx-1">&bull;</span>
            )}
          </li>
        ))
      }
    </ul>
  </footer>
</a>
