/* The integration's default injected default.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --default: theme(colors.neutral.500);
    --default-100: theme(colors.neutral.900);
    --background: theme(colors.neutral.200);
    --primary: theme(colors.teal.700);
    --primary-foreground: theme(colors.teal.400);
    --accent: theme(colors.yellow.800);
  }
  .dark {
    --default: theme(colors.neutral.400);
    --default-100: theme(colors.neutral.100);
    --background: theme(colors.neutral.950);
    --primary: theme(colors.teal.300);
    --primary-foreground: theme(colors.teal.950);
    --accent: theme(colors.yellow.500);
  }
}

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-accent;
  }
}
