---
import PageLayout from "@/layouts/PageLayout.astro";
import Button from "@/components/ui/Button.astro";
import FeaturedProjects from "@/components/sections/home/FeaturedProjects.astro";
---

<PageLayout>
  <article class="space-y-28 bg-">
    <section>
      <h2 class="text-2xl">
        Hi, I'm <strong class="text-primary">Lefteris Papaioannou</strong> 👋.
      </h2>
      <p class="my-5 max-w-[60ch]">
        I'm a <strong class="text-primary">software engineer</strong> and a <strong
          class="text-primary">web developer</strong
        >. I love building things and solving problems. I'm passionate about web
        technologies and I'm always looking for ways to improve my skills and
        learn new things.
      </p>

      <Button class={"animate-bounce hover:animate-pulse"}>Download CV</Button>
    </section>

    <FeaturedProjects />

    <section>Selected Posts Section</section>
  </article>
</PageLayout>
