---
import "../styles/base.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-2xl text-accent-400 font-bold">Lefteris Papaioannou</h1>
  <p>This is my portfolio page</p>
</BaseLayout>
