---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/ui/Button.astro";
import FeaturedProjects from "@/components/sections/home/FeaturedProjects.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout>
  <article class="space-y-28 bg-">
    <section>
      <h2 class="text-2xl">
        Hi, I'm <strong class="text-primary">Lefteris Papaioannou</strong> 👋.
      </h2>
      <p class="my-5 max-w-[60ch]">
        I'm a <strong>software developer</strong> with over <strong
          >2 years</strong
        >
        of experirnce. I'm currently working as a <strong>fullstack</strong> developer
        using <strong>Java, React, HTML and CSS.</strong> Outside of work, I enjoy
        traveling and learning new things.
      </p>
      <Button class={"animate-bounce hover:animate-pulse"}>Download CV</Button>
    </section>

    <FeaturedProjects />

    <section>Selected Posts Section</section>
  </article>
</BaseLayout>
