---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-2xl text-primary font-bold">Lefteris Papaioannou</h1>
  <p class="text-accent">This is my portfolio page</p>

  <h3 class="mt-10 mb-3 text-default-100 font-bold">
    Here is a button example
  </h3>
  <button
    class="bg-primary text-primary-foreground font-medium px-5 py-2 rounded"
  >
    BUTTON</button
  >

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
    perferendis dolorem, quibusdam autem in enim rerum obcaecati, pariatur,
    praesentium repellat reprehenderit doloribus laudantium eos aliquid veniam
    eveniet saepe sit suscipit!
  </p>
</BaseLayout>
