---
import { Icon } from "astro-icon/components";
---

<footer class="flex items-center justify-between">
  <p>Copyrights @ <span id="year">2024</span></p>

  <div role="navigation">
    <a href="">
      <Icon name="linkedin-logo" size={18} />
    </a>
  </div>
</footer>
