<header>
  <div class="container">
    <nav class="flex items-center justify-center gap-8">
      <a class="font-medium" href="/">Home</a>
      <a class="font-medium" href="/about">About</a>
      <a class="font-medium" href="/projects">Projects</a>
      <a class="font-medium" href="/blog">Blog</a>
    </nav>
  </div>
</header>
