<header class="z-40">
  <a
    href="/"
    class="text-default font-bold transition-colors duration-150 hover:text-default-100"
    >lefpap</a
  >
  <nav class="flex items-center justify-center gap-8">
    <a class="font-medium" href="/">Home</a>
    <a class="font-medium" href="/projects">Projects</a>
    <a class="font-medium" href="/blog">Blog</a>
  </nav>
</header>
