---
import Card from "../../shared/ProjectCard.astro";
import Link from "@/components/ui/Link.astro";
---

<section class="flex flex-col gap-3">
  <div class="flex items-center justify-between">
    <h3 class="text-lg font-semibold">My Work</h3>
    <Link href="/projects">View all projects</Link>
  </div>
  <ul class="flex flex-wrap gap-1 justify-between">
    <li></li>
  </ul>
</section>
