---
// Supports weights 100-900
import "@fontsource-variable/montserrat";

import "../styles/base.css";
import Header from "../components/Header.astro";
import BlurCircle from "../components/ui/BlurCircle.astro";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>lefpap</title>
    <script is:inline src="/scripts/apply-theme.ts"></script>
  </head>
  <body
    class="container py-16 bg-background text-default text-sm font-sans flex flex-col min-h-screen antialiased transition duration-500 ease-in"
  >
    <Header />
    <main class="flex-1 my-16">
      <slot />
    </main>
    <footer>Footer</footer>

    <!-- <BlurCircle position="bottom-left" /> -->
    <BlurCircle position="top-left" color="primary" />
    <BlurCircle position="bottom-right" color="accent" />
  </body>
</html>
