---
import type { CollectionEntry } from "astro:content";
import PageLayout from "./PageLayout.astro";
import Link from "@/components/ui/Link.astro";
import { Icon } from "astro-icon/components";

type Props = {
  project: CollectionEntry<"projects">["data"];
};

const { project } = Astro.props;
---

<PageLayout>
  <article class="flex flex-col gap-11">
    <header class="flex flex-col gap-3">
      <div class="flex flex-col sm:flex-row justify-between gap-1">
        <h1 class="text-default-100 text-3xl font-bold">
          {project.title}
        </h1>

        <div role="navigation" class="flex gap-5 items-center justify-start">
          {
            project.demo && (
              <Link href={project.demo} target={"_blank"} class={"text-xs"}>
                Live Demo
                <Icon name={"arrow-up-right"} />
              </Link>
            )
          }
          {
            project.repo && (
              <Link href={project.repo} target={"_blank"} class={"text-xs"}>
                Github Repo
                <Icon name={"arrow-up-right"} />
              </Link>
            )
          }
        </div>
      </div>
      <ul class="flex flex-wrap">
        {
          project.technologies.map((technology, index) => (
            <li>
              <span class="text-primary ">{technology}</span>
              {index !== project.technologies.length - 1 && (
                <span class="font-bold mx-1">&bull;</span>
              )}
            </li>
          ))
        }
      </ul>
    </header>

    <main class="markdown">
      {project.status === "completed" ? <slot /> : <p>Comming soon...</p>}
    </main>
  </article>
</PageLayout>
